<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus.css"
   media="screen"/>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus-print.css"
   media="print"/>

</head>

<body>
<h1>Schedule</h1>

<table class="class-schedule">
  {% for entry in session.schedule %}
  <!--Use flask to call a python function to compare the current date from arrow and the week date -->
  {% if compare_date((date),(inc_date(entry.begin,entry.week))) %}
  <!--if true we specify the current class to paint a purple color, otherwise same even odd color scheme-->
  <tr class="current">
  {% else %}
    {% if loop.index is divisibleby 2 %}
    <tr class="even">
    {% else %}
    <tr class="odd">
    {% endif %}
  {% endif %}
    <!-- Use flask to call a python function to increment the begin date by entry week -->
    <td class="week">{{ entry.week }}<p>{{(inc_date(entry.begin,entry.week) | fmtdate) }}<p></td>
    <td class="topic">{{ entry.topic }}</td>
    <td class="project">{{ entry.project}}</td>
  </tr>
  {% endfor %}




</body> </html>
